.alert-close {
    display: flex;
    justify-content: space-between;
}
.close-icon {
    background-color: inherit !important;
    border: 0px !important;
}
.fadeAlert {
    opacity: 0;
    transition: opacity 0.3s ease-out;
}
